* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei";
}

li {
    list-style: none;
}

a,
img {
    border: none;
}

a {
    text-decoration: none;
}

    a:active {
        outline: none;
    }

input, button {
    border: none;
    outline: none;
    background: none;
    -webkit-appearance: none;
}

table {
    border-collapse: collapse;
}

html, body {
    text-size-adjust: none;
}


.main {
    position: relative;
    width: 750px;
    margin: 0 auto;
}


.header {
    width: 100%;
    height: 543px;
    background: #ebbe9a;
}

.search {
        padding:10px 17px 0;
        -webkit-overflow-scrolling: touch;
    }


.input-box {
    position: relative;
    left: 2px;
    width: 100%;
    height: 97px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .input-box input {
        flex-grow: 1;
        padding: 0 30px;
        font-size: 30px;
        width: 426px;
        height: 89px;
        background: url(./images/input.png);
        margin: 4px 0;
        box-sizing: border-box;
        color: #774e30;
    }

    .input-box .search-btn {
        position: relative;
        left: -4px;
        width: 290px;
        height: 97px;
        background: url(./images/search.png);
        cursor: pointer;
        font-size:30px;
        line-height: 97px;
        color: #885e42;
        text-align: center;
    }

    .input-box .search-result {
        position: absolute;
        left: 0;
        top: 93px;
        background: #FFF;
        width: 99%;
        z-index: 999;
        display: none;
    }

        .input-box .search-result .item {
            display: flex;
            color: #d98000;
            cursor: pointer;
        }

            .input-box .search-result .item span {
                width: 50%;
                text-align: center;
                font-size: 24px;
                line-height: 56px;
                font-weight: bold;
            }

            .input-box .search-result .item:nth-child(even) {
                background: #efefef;
            }

            .input-box .search-result .item:first-child {
                background: #d98000;
                color: #FFF;
                cursor: default;
            }
        .input-box .search-result ul li {
            display: flex;
            color: #d98000;
            cursor: pointer;
        }

            .input-box .search-result ul li span {
                width: 50%;
                text-align: center;
                font-size: 24px;
                line-height: 56px;
                font-weight: bold;
            }

            .input-box .search-result ul li:nth-child(even) {
                background: #efefef;
            }

            .input-box .search-result ul li:first-child {
                cursor: pointer;
            }

            .input-box .search-result ul li span:first-child {
                width: 40%;
                text-align: center;
                font-size: 24px;
                line-height:36px;
                padding:5px 0 5px 0;
                font-weight: bold;
            }
            .input-box .search-result ul li span:last-child {
                width:60%;
                text-align: center;
                font-size: 14px;
                line-height: 36px;
                padding-top:5px;
                font-weight: bold;
              }



.header .top {
    width: calc(100% - 80px);
    height: 182px;
    display: flex;
    padding: 20px 0;
    margin: 0 40px;
    box-sizing: border-box;
    border-bottom: 2px dashed #885e42;
}

    .header .top .name {
        width: 282px;
        height: 100%;
        font-size: 51px;
        font-weight: bold;
        color: #885e42;
        border-right: 2px dashed #885e42;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .header .top .name div:nth-child(2) {
            font-size: 39px;
        }

    .header .top .data {
        width: calc(100% - 284px);
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .header .top .data .price {
            font-size: 51px;
            height: 60px;
            font-weight: bold;
            display: flex;
            align-items: center;
        }

        .header .top .data .diff {
            font-size: 32px;
            height: 40px;
        }

        .header .top .data .time {
            font-size: 32px;
            color: #885e42;
            height: 40px;
        }

        .header .top .data .arr {
            margin-left: 12px;
            width: 50px;
            height: 50px;
            display: none;
        }

        .header .top .data.green .arr {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
        }

        .header .top .data .arr svg {
            width: 50px;
            height: 50px;
            display: block;
        }

.header .bottom {
    margin: 0 auto;
    width: calc(100% - 80px);
    height: 202px;
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    color: #885e42;
    text-align: center;
}

    .header .bottom .item {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .header .bottom .item div {
            height: 30px;
        }

            .header .bottom .item div:nth-child(2) {
                margin-top: 12px;
            }

.content-1 {
    position: relative;
    width: 100%;
    height: 862px;
    background: url(./images/bg.jpg) center bottom no-repeat, #FFF;
    background-color: #edc9ac;
}

    .content-1 .button-box {
        padding-top: 608px;
    }

.button-box {
    text-align: center;
}

    .button-box .t1 {
        font-size:28px;
        color: #885e42;
    }

        .button-box .t1 span {
            color: #e80404;
            font-weight: bold;
        }

    .button-box .t2 {
        font-size: 26px;
        color: #5c5a5a;
        margin-top: 6px;
        text-align:right;
        padding-right:20px;
    }

    .button-box .button {
        position: relative;
        margin: 36px auto 0;
        width: 560px;
        height: 111px;
        background: url(../images/button.png);
        font-size: 38px;
        color: #FFF;
        font-weight: bold;
        line-height: 103px;
        animation: animation-2 .5s ease-in-out alternate infinite;
        -webkit-animation: animation-2 .5s ease-in-out alternate infinite;
        overflow: hidden;
        letter-spacing: 5px;
    }

@keyframes animation-2 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@-webkit-keyframes animation-2 {
    0% {
        -webkit-transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.1);
    }
}

.content-2 {
    width: 100%;
    background: #edc9ac;
    padding:20px 33px 20px;
    box-sizing: border-box;
}

.stock-list {
    width: 100%;
    height: 395px;
    background: #fbdac3;
}

    .stock-list .head {
        padding-top:15px;
        width: 100%;
        display: flex;
        font-size:24px;
        color: #e80404;
        font-weight: bold;
        text-align: center;
    }

        .stock-list .head span:nth-child(1) {
            width: 130px;
        }

        .stock-list .head span:nth-child(2) {
            width: 552px;
        }

    .stock-list .body {
        margin-top: 34px;
        width: 100%;
        font-size:20px;
        line-height: 44px;
        color: #885e42;
        text-align: center;
        overflow: hidden;
        height: 264px;
    }

        .stock-list .body ul li{
            display: flex;
            height: 44px;          
        }

            .stock-list .body ul li span:nth-child(1) {
                width: 130px;
            }

            .stock-list .body ul li span:nth-child(2) {
                width: 540px;
                text-align: left;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

.certificate {
    margin-top: 30px;
    width: 100%;
    background: #fbdac3;
    padding: 30px 0 40px;
}

    .certificate .t1 {
        color: #e80404;
        font-size: 48px;
        text-align: center;
    }

    .certificate .t2 {
        width: fit-content;
        color: #8b6145;
        font-size: 30px;
        text-align: center;
        line-height: 60px;
        border-bottom: 1px solid #8b6145;
        margin: 0 auto;
    }

    .certificate .img {
        width: 586px;
        height: 416px;
        background: url(../images/img.jpg);
        margin: 20px auto 0;
    }

.content-2 .button-box {
    padding-top: 32px;
}

    .content-2 .button-box .button {
        background: url(../images/button2.png);
        color: #e71121;
        width: 595px;
        height: 103px;
        line-height: 95px;
    }

.footer {
    width: 100%;
    padding: 12px 0 160px;
    font-size: 22px;
    text-align: center;
    line-height: 34px;
    color: #c38a64;
    background: #fde9db;
}
    .footer p{
        width:80%;
        padding:0 10% 0 10%;
    }
    .red {
        color: #e80404 !important;
    }

    .red path {
        fill: #e80404 !important;
    }

.green {
    color: #139b01 !important;
}

    .green path {
        fill: #139b01 !important;
    }



.popover {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(0, 0, 0, .6);
    display: flex;
    align-items: center;
    justify-content: center;
}


.loading .box {
    background: #FFF;
    width: 564px;
    border-radius: 20px;
    text-align: center;
    padding: 80px 0;
}

.loading .title {
    font-size: 28px;
}

.loading .line {
    width: 524px;
    margin: 20px auto 0;
    height: 30px;
    border-radius: 15px;
    background: #e5e5e5;
}

    .loading .line div {
        width: 0;
        height: 100%;
        border-radius: 15px;
        background: #fbdac3;
        background-image: -webkit-linear-gradient(left, #fbdac3, #edc9ac);
        background-image: -moz-linear-gradient(left, #fbdac3, #edc9ac);
        background-image: linear-gradient(left, #fbdac3, #edc9ac);
    }


.mobile .layui-layer-hui .layui-layer-content {
    padding: 24px 50px !important;
}

.mobile .layui-layer-dialog .layui-layer-content {
    font-size: 28px !important;
    line-height: 48px !important;
}

.center {
    position: absolute;
    top: 270px;
    left: 264px;
    width: 215px;
    height: 214px;
    background: url(./images/center.png);
}

.radar {
    position: absolute;
    top: 218px;
    left: 211px;
    width: 318px;
    height: 318px;
    background: url(./images/radar.png);
    animation: animation-s-1 10s linear infinite;
    -webkit-animation: animation-s-1 10s linear infinite;
}

.radars {
    position: absolute;
    width: 128px;
    height: 128px;
    background: url(./images/radar2.png) 100%/100%;
}

.radar-1 {
    top: 196px;
    left: 66px;
    animation: animation-s-1 8s linear infinite;
    -webkit-animation: animation-s-1 8s linear infinite;
}

.radar-2 {
    top: 196px;
    left: 558px;
    animation: animation-s-1 8s linear infinite;
    -webkit-animation: animation-s-1 8s linear infinite;
}

.radar-3 {
    top: 434px;
    left: 66px;
    animation: animation-s-1 8s linear infinite;
    -webkit-animation: animation-s-1 8s linear infinite;
}

.radar-4 {
    top: 434px;
    left: 558px;
    animation: animation-s-1 8s linear infinite;
    -webkit-animation: animation-s-1 8s linear infinite;
}

@keyframes animation-s-1 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes animation-s-1 {
    0% {
        -webkit-transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes animation-s-2 {
    0% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(450deg);
    }
}

@-webkit-keyframes animation-s-2 {
    0% {
        -webkit-transform: rotate(90deg);
    }

    100% {
        -webkit-transform: rotate(450deg);
    }
}

@keyframes animation-s-3 {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(540deg);
    }
}

@-webkit-keyframes animation-s-3 {
    0% {
        -webkit-transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(540deg);
    }
}

@keyframes animation-s-4 {
    0% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(630deg);
    }
}

@-webkit-keyframes animation-s-4 {
    0% {
        -webkit-transform: rotate(270deg);
    }

    100% {
        -webkit-transform: rotate(630deg);
    }
}

.dialogMask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 996;
    background-color:#774e30;
    opacity:0.8;
    -webkit-filter: blur(5px); /* Chrome, Opera */
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    display:none;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 640px;
    height: 484px;
    margin-left: -320px;
    margin-top: -242px;
    background: url(./images/dialog3.png) no-repeat;
    z-index: 1000;
    font-size: 24px;
    background-size: cover;
    display: none;
}

.close {
    position: absolute;
    width: 49px;
    height: 49px;
    background: url("./images/close.png");
    cursor: pointer;
    background-size: cover;
    bottom: -65px;
    left: 50%;
    margin-left: -25px;
}
.dialog .checkStock{
    width:100%;
    margin-top:50px;
    height:48px;
    line-height:48px;
    float:left;
    text-align:center;
}
    .dialog .checkStock span{
        font-size:48px;
        font-weight:bolder;
        color:green;
    }
.dialog .goTolink {
    border-radius: 10px;
    border: 2px solid #20c92f;
    font-size: 32px;
    text-align: center;
    color: #fff;
    background-color: #20c92f;
    background-image:url("./images/ws.png");
    background-position:22px 42px;
    background-size:64px 64px;
    background-repeat:no-repeat;
    font-weight: bold;
    cursor: pointer;
    width: 88%;
    height: 156px;
    line-height: 42px;
    margin:62px 6% 10px 5%;
    padding-left:12px;
    padding-top:10px;
    float: left;
    animation:breathe 1.1s infinite;
}
@keyframes breathe{
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.9);
    }
}
.appbox{
    position: fixed;
    width: 100%;
    bottom: 40px;
    left: 0;
}
.appbox-content{
    position: relative;
    display: flex;
    justify-items: center;
}
.appbox-line{
    display: block;
    width: auto;
    margin: auto;
    padding: 10px 40px;
    border-radius: 20px;
    text-align: center;
    animation:breathe 1.1s infinite;
    background-color: #fca311;
}
.appbox-logo{
    display: inline-block;
    width: auto;
    height: 80px;
    margin: auto;
    vertical-align: middle;
}
.appbox-txt{
    display: inline-block;
    padding-top: 20px;
    font-size: 38px;
    color: white;
    font-weight: bold;
    line-height: 1;
}

